.navbar-brand svg {
  width: 12em;
  max-width: 12em;
}

.navbar {
  background-color: #560114;
  margin-bottom: 1em;
}

.navbar-inverse .navbar-toggler {
  border: 2px solid rgba(255,255,255,.6);
}

.navbar .form-inline .btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.navbar .form-inline .btn:hover {
  background-color: white;
  border: 1px solid white;
  color: #560114;
}
