<h1>Specifications and Test Methods for the Electronic Component Industry</h1>
<p>Gideon has worked on many specifications over the years both in development and testing.  Many of the following are either performed or modified to suit our customers needs and we continue to investigate new specifications like ROHS and WEEE.   We have already worked with several companies to insure their ROHS and WEEE compliance.</p>

<ul>
  <li><a href="http://www.jedec.org/">JEDEC (Joint Electronic Device Engineering Council)</a></li>
  <li><a href="http://www.ipc.org/">IPC TMs (Institute for Interconnecting and Packaging Electronic Circuits Test Methods)</a></li>
  <li><a href="http://www.dscc.dla.mil/">DSCC (Defense  Supply Center Columbus)</a></li>
  <li><a href="http://www.astm.com/">ASTM (American Society for Testing and Materials)</a></li>
  <li><a href="http://www.interfacebus.com/Components.html">Components</a></li>
  <li><a href="http://www.ieee.org/">IEEE (Institute of Electrical and Electronics Engineers)</a></li>
  <li><a href="http://www.ansi.org/">ANSI Standards (American National Standard Institute)</a></li>
  <li><a href="http://europa.eu.int/comm/environment/waste/weee_index.htm">Waste Electrical and Electronic Equipment (WEEE)</a></li>
</ul>