header {
  display: none;
  /*margin: 0 auto;*/
  width: 100%;
  position: relative;
  margin-bottom: 1em;

  @media (min-width: 40em) {
    display: block;
  }
}

header img {
  width: 100%;
  object-fit: cover;
}

.header-callout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.callout-container {
  background-color: rgba(255,255,255,0.8);
}

.header-callout--phone a {
  font-size: 3.5em;
  color: #560114;
  font-weight: bold;
}